{% extends 'base.html.twig' %}

{% block title %}Controle{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>

    <div class="row">
                <div class="col-3">
                    <ul class="nav justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_controle_new') }}">Ajouter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_controle_nettoyer') }}">Nettoyer</a>
                        </li>
                    </ul>
                </div>
                <div class="col-5 offset-1">
                    <ul class="nav justify-content-left">
                        <li class="nav-item">
                            <h1>Liste des Contrôles</h1>
                        </li>
                    </ul>
                </div>
            </div>


    
    <table id="tableau" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>HoraireTTDebut</th>
                <th>HoraireTTFin</th>
                <th>HoraireNonTTDebut</th>
                <th>HoraireNonTTFin</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for controle in controles %}
            <tr>
                <td>{{ controle.id }}</td>
                <td>{{ controle.HoraireTTDebut }}</td>
                <td>{{ controle.HoraireTTFin }}</td>
                <td>{{ controle.HoraireNonTTDebut }}</td>
                <td>{{ controle.HoraireNonTTFin }}</td>
                <td>{{ controle.Date ? controle.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_controle_show', {'id': controle.id}) }}">show</a>
                    <a href="{{ path('app_controle_edit', {'id': controle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

        <script type="text/javascript">
                $(document).ready(function() {
                    $('#tableau').DataTable();
                } );
        </script>
        </tbody>
    </table>
    <a href="{{ path('app_controle_new') }}">Create new</a>
    <a href="{{ path('testPDF') }}">Create PDF</a>
{% endblock %}
