{% extends 'base.html.twig' %}

{% block title %}Controle{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>

    <div class="row">
                <div class="col-3">
                    <ul class="nav justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_controle_new') }}">Ajouter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Nettoyer</a>
                        </li>
                    </ul>
                </div>
                <div class="col-5 offset-1">
                    <ul class="nav justify-content-left">
                        <li class="nav-item">
                            <h1>Liste des Contrôles</h1>
                        </li>
                    </ul>
                </div>
            </div>


    
    <table id="tableau" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Module</th>
                <th>Promotion</th>
                <th>Date</th>
                <th>Horaire</th>
                <th>Enseignant referant</th>
                <th>Enseignant surveillant</th>
                <th>Plan de placement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for controle in controles %}
            <tr>
                <td>{{ controle.Module.nomCourt }}</td>
                <td>{% for promo in controle.Promotion %}{{ promo.nomCourt }} {% endfor %}</td>
                <td>{{ controle.Date ? controle.Date|date('Y-m-d') : '' }}</td>
                <td>{{ controle.HoraireTTDebut }}-{{ controle.HoraireTTFin }} ({{ controle.HoraireNonTTDebut }}-{{ controle.HoraireNonTTFin }} TT)</td>
                <td>{{ controle.Referent.Nom }} {{ controle.Referent.Prenom }}</td>
                <td></td>
                <input  name="placement" type="hidden" value="{{ controle.Placement| length }}"/>
                <td>
                    <a href="{{ path('app_controle_generePlacement', { 'id': controle.id }) }}">Générer</a>
                    <a name="telechargerPlan" href="{{ path('app_plandeplacement_telecharger', { 'id': controle.id }) }}">Télécharger plan</a>
                    <a name="telechargerFeuille" href="{{ path('app_feuilleEmargement_telecharger', { 'id': controle.id }) }}">Télécharger émargement</a>
                </td>
                <td>
                    <a href="{{ path('app_controle_show', {'id': controle.id}) }}">Afficher</a>
                    <a href="{{ path('app_controle_edit', {'id': controle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

        <script type="text/javascript">
                $(document).ready(function() {
                    $('#tableau').DataTable();
                } );
        </script>
        </tbody>
    </table>
    <script>
    for(i=document.getElementsByName("placement").length - 1;i>-1;i--)
    {
        if(document.getElementsByName("placement")[i].value == 0)
        {
            document.getElementsByName("telechargerPlan")[i].parentNode.removeChild(document.getElementsByName("telechargerPlan")[i]);
            document.getElementsByName("telechargerFeuille")[i].parentNode.removeChild(document.getElementsByName("telechargerFeuille")[i]);

        }
    }
    </script>
{% endblock %}
