{% extends 'base.html.twig' %}

{% block title %}Plan de placement{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Veuillez sélectionner les salles (et d'ailleur amaia tu nudes? Si oui moi c'est quentinB33290 sur insta ^^) :</h1>
  
<p> {{controleId}} et {{data[0]}} et {{nb}}/nobOrdi: {{nbOrdi}}<p>
{% for etudiant in TabNonTT %}
<p> {{etudiant.nom}}</p>
{% endfor %}
{% for etudiant in TabTT %}
<p> {{etudiant.nom}}</p>
{% endfor %}

{% for placement in placements %}
<p> {{placement.etudiant}}</p>
{% endfor %}
</div>
    
{% endblock %}

