{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>

    <div class="row">
                <div class="col-3">
                    <ul class="nav justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_controle_new') }}">Ajouter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Nettoyer</a>
                        </li>
                    </ul>
                </div>
                <div class="col-5 offset-1">
                    <ul class="nav justify-content-left">
                        <li class="nav-item">
                            <h1>Liste des Modules</h1>
                        </li>
                    </ul>
                </div>
            </div>
    
    <h1>Module index</h1>

    <table id="tableau" class="display" style="width:100%">
        <thead>
            <tr>
                <th>NomCourt</th>
                <th>NomLong</th>
                <th>Promotion</th>
                <th>Enseignant Référent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.nomLong }}</td>
                <td>{{ module.nomCourt }}</td>
                <td>{% for promo in module.Promotion %}{{ promo.nomCourt }}{% endfor %}</td> 
                <td>{% for enseignant in module.Enseignant %}{{ enseignant.Nom }}{% endfor %}</td> 
                <td>
                    <a href="{{ path('app_module_show', {'id': module.id}) }}">show</a>
                    <a href="{{ path('app_module_edit', {'id': module.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_module_new') }}">Create new</a>
{% endblock %}
