{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>

    <div class="row">
                <div class="col-3">
                    <ul class="nav justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_controle_new') }}">Ajouter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Nettoyer</a>
                        </li>
                    </ul>
                </div>
                <div class="col-5 offset-1">
                    <ul class="nav justify-content-left">
                        <li class="nav-item">
                            <h1>Liste des Enseignants</h1>
                        </li>
                    </ul>
                </div>
            </div>
    
    <h1>Enseignant index</h1>

    <table id="tableau" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Vacataire</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.Nom }}</td>
                <td>{{ enseignant.Prenom }}</td>
                <td>{{ enseignant.Vacataire ? 'Yes' : 'No' }}</td>
                <td>{{ enseignant.Mail }}</td>
                <td>
                    <a href="{{ path('app_enseignant_show', {'id': enseignant.id}) }}">show</a>
                    <a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enseignant_new') }}">Create new</a>
{% endblock %}
